<div class="formp">
<div class="container back"> 
  <div class="row">
  <div class="col-md-8">
    <div class="imgdiv">
      <div class="heading">Facebook helps you connect and share with the people in your life. </div>
      <img class="img" src="https://static.xx.fbcdn.net/rsrc.php/v3/yn/r/099etSefEv-.png" alt="" width="536" height="194">
    </div>  
  </div>
  <div class="col-md-4">
    <h1>
      Create an account
    </h1>
    <h3>
      Its free and always will be
    </h3>
    <form>
      <div class="form-group">
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Surname">
        <input type="text" placeholder="Mobile number or email">
        <input type="password" placeholder="New Password">
      </div>
      <div class="form-group">
        <label>Birthday</label>
        <input type="date" placeholder="day">
      </div>
      <div class="form-group">  
        <input type="radio" name="as">Male
        <input type="radio" name="as">Female

      </div>
      <div class="form-group">
        <p class='parag'>By clicking signup you agree to our Terms, Data Policy and Cookie Policy. You may receive SMS
          notifications from us and can opt out at any time</p>
        <button class="btn btn-success">Signup</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>
