<div id="conatainer">
<div id="nav">
  <div class="row">
      <div class="col-md-6">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Facebook_New_Logo_%282015%29.svg/2000px-Facebook_New_Logo_%282015%29.svg.png" 
              width="200">
      </div>
      <div class="col-md-6">
          <label for="userid" class="back">Email:</label>
          <input name="userid" type="text" placeholder="enter email">
          <label for="pass">Password:</label>
          <input name="pass" class="inp" type="password" placeholder="enter password">
          <button class="btn btn-primary" style="height:15px; padding-bottom: 25px;">Log in</button>
      </div>
  </div>
</div>
</div>